# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env

# Local data (match + timeline JSONs)
data/*
!data/datasets
data/datasets/*
!data/datasets/top_matches_summary_v1.csv

/pro

# macOS junk
.DS_Store
# Windows junk
Thumbs.db